body{
	background-color: pink;
	font-style: solid;
	font-family: arial;
	font-style: bold;
}

fieldset{
	outline-style: solid;
	padding: 10px;
}
legend{
	font-family: Segoe UI Black;
}	

button {
    background-color: #d82b29;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=text] {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=date] {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
select {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
table {
	border-style: solid;
	border-color: black;
	width: 100%;
    border: 1px solid black;
    background-color: white;
    font-family:Segoe UI Black; 
}